section(id="page")
    header
        hgroup
            h1 DNode Player
            h3 HTML, NodeJS and DNode media player
        nav(class="clear")
            ul
                li
                    a(href="#h") Home
                li
                    a(href="#h") Playlist
                li
                    a(href="#h") Account

    section(id="articles")
         article(id="h")
            div(id="player-image")
            canvas(id="player-vis")
            
            audio(id="audio-player", controls, preload="metadata")
            div(id="playlist")
                ul

script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")
script(type="text/javascript", src="/jquery.scrollTo-1.4.2/jquery.scrollTo-min.js")
script(type="text/javascript", src="/theme.js")
script(type="text/javascript", src="/jplayer/jquery.jplayer.min.js")
script(type="text/javascript", src="/application.js")
script(type="text/javascript", src="/player.js")