!!! 5
html(lang="en")
  head
    title= pageTitle
    
    link(rel="stylesheet", type="text/css", href="/theme.css")
    link(rel="stylesheet", type="text/css", href="/jplayer/theme/jplayer.blue.monday.css")
    script(type="text/javascript", src="/dnode.js")
    script(type="text/javascript", src="/browserify.js")
    
  body(id="index", class="home")!= body